.top_div{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.bild_text_div{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    max-width: 33%;
}

img{
    max-width: 30%;
    min-width: 220px;
    max-height: auto;

}

li{
    margin-bottom: 40px;;
}

body{
background-image:url(Img/Barcelonaye.jpg);
background-position: center center;
background-size: 100%;
}

h1{
color: blue ;
background-color: yellow;
}